<footer>
  <div class="container-fluid">
    <div class="col-12 text-center pt-5">
      <h2>Get started with a FREE site inspection</h2>
    </div>
    <hr class="custom-seperator">
    <div class="row py-5">
      <div class="col-12 col-md-5 mx-auto text-center">
          <h3 class="py-3 call-joe">Call Joe Blocker: (912) 739-0004</h3>
      </div>
      <div class="col-12 col-md-5 mx-auto text-center">
          <div class="col-12 col-md-6 text-center pt-1 mx-auto custom-jumbotron-button2">
            <a href="/contact-us">
              <h3 class="text-white py-3 custom-button-text">CONTACT BY EMAIL</h3>
            </a>
          </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 pb-4 pl-0 pr-0 float-left mx-auto custom-privacy-policy">
      <p class="pt-5 pb-0 font-weight-bold text-center custom-text-footer-links custom-icon-section-text">Copyright © 2017 Claxton Handi House. All Rights Reserved.</p>
      <p class="pt-0 pb-3 text-center">Designed and developed by <a href="#">Mariposa Interactive</a></p>
    </div>
</div>

</footer>
<script src="{{ "/assets/main.js" | relative_url }}"></script>