<div class="stage-shelf stage-shelf-right hidden" id="sidebar">
  <ul class="nav nav-bordered nav-stacked flex-column">
    <li class="nav-header">Menu</li>
    <li class="nav-item">
      <a class="nav-link active" href="index.html">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/blog">The Mariposa Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/services">What Mariposa Does</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/team">The Mariposa Team</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/resources">Content Marketing Resources</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact-us">Get in Touch with Mariposa</a>
    </li>
  </ul>
</div>

<div class="stage" id="stage">

<!-- style="background-image: url(assets/img/startup-1.jpg);" -->
<div class="custom-blog-header">
  <div class="container-fluid">
  <div class="col-sm-12 col-md-6 col-sm-6 float-left">
    <div class="col-md-7 text-center text-sm-left custom-mariposa-logo-blog">
    <a class="navbar-brand" href="/index.html">
       <img class="logo-top" src="http://www.mariposaagency.com/assets/img/mariposa-logo.png">
      <!-- <strong style="background: #fff; padding: 12px; border-radius: 4px; color: #28669F;">go</strong> -->
    </a>
    </div>
</div>
  </div>
    <div class="col-sm-12 col-md-6 float-left mx-auto">
      <div class="col-md-7 float-right">
      <nav class="navbar navbar-transparent navbar-padded pb-0 float-right navbar-toggleable-sm custom-nav-toggler">
    <button
      class="navbar-toggler hidden-md-up p-0 m-0 mx-auto"
      type="button"
      data-target="#stage"
      data-toggle="stage"
      data-distance="-250">
      <span class="navbar-toggler-icon navbar-toggler-icon-blog"></span>
    </button>
    </div>
  </nav>
</div>
</div>