<!DOCTYPE html>
<html lang="en">
  
{% include /html/ae-default-head.html %}

<body>
  
{% include /html/rectangle-logo-header.html %}

<div class="container-fluid py-3 py-md-5">
  <div class="row mx-auto">
    <div class="col-12 col-md-3 py-5 my-5 text-center custom-about-us-sidebar">
        <h3>
            Joe Blocker<br>
            Business Owner
        </h3>
        <hr>
        <div class="col-12 mx-auto text-center">
                <h3 class="py-3">Call: (912) 739-0004</h3>
        </div>
    </div>
    <div class="col-12 col-md-8 text-center mx-auto">
        <h2>About Claxton Handi House</h2>
        <hr class="custom-seperator">
        <p class="custom-p-text">
         Claxton Handi House has been serving the Claxton community for more than 15 years.
         It's owner, Joe Blocker, started the business in 2000 four miles out the community
         limits of Claxton, GA.
         <br><br>
         Claxton Handi house sells carports and portable storage buildings of various sizes and designs.
         Joe also has the pleasure of supplying steel buildings to serve as shops, hay barns, or garages.
         <br><br>
         If you've got an idea for a building on your property, call Joe today and Claxton Handi
         House will get right on discovering the best option to fit your needs.
        </p>
    </div>
  </div>
</div>


{% include /html/ae-default-footer.html %}
  
  </body>
</html>

