<!DOCTYPE html>
<html lang="en">
  
{% include /html/ae-default-head.html %}

<body>
  
{% include /html/rectangle-logo-header.html %}

<div class="container-fluid py-3 py-md-5">
    <div class="row mx-auto">
      <div class="col-12 col-md-3 py-5 my-5 text-center custom-about-us-sidebar">
          <h3>
              Visit Claxton Handi House:
          </h3>
          <hr>
          <div class="col-12 mx-auto text-center">
              <h3 class="py-3">2929 Hwy. 301 South
                  Claxton, GA 30417</h3>
                  <h3 class="py-3">Call: (912) 739-0004</h3>
          </div>
      </div>
      <div class="col-12 col-md-8 text-center mx-auto">
          <h2>Call or email us for a FREE site inspection</h2>
          <hr class="custom-seperator">
          <p class="custom-p-text">
            We can help determine your site’s structure needs and fix you up with a solution that is right for you.
           <br><br>
           <script type="text/javascript">var submitted=false;</script>
           <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location='/thank-you-site-inspection';}"></iframe>
           <form action="https://docs.google.com/forms/d/e/1FAIpQLSf802LGHnXPw-nyjtwOFKJclaxEDqD1Rw2yF6wQCDuZbcBvvw/formResponse" method="post" target="hidden_iframe" 
          onsubmit="submitted=true;">
            <div class="col-12 mx-auto clearfix pt-4 pb-0 px-0 custom-application-form-box">
             <div class="col-12 col-lg-6 pb-4 px-0 text-center mx-auto float-left">
              <label class="col-12 font-weight-bold text-center" for="full-name">Your Name</label>
            <input class="col-12 w-75 pt-2 pb-2" name="entry.822814912" type="text" id="full-name" required />
            </div>
            <div class="col-12 col-lg-6 pb-4 px-0 text-center mx-auto float-left">
                <label class="col-12 font-weight-bold text-center" for="full-name">Email Address</label>
              <input class="col-12 w-75 pt-2 pb-2" name="entry.832180076" type="text" id="full-name" required />
              </div>
              <div class="col-12 col-lg-6 pb-4 px-0 text-center mx-auto float-left">
                  <label class="col-12 font-weight-bold text-center" for="full-name">Phone Number</label>
                <input class="col-12 w-75 pt-2 pb-2" name="entry.1386519646" type="text" id="full-name" required />
                </div>
            <input class="btn-primary py-2 mt-4 mb-4 custom-jumbotron-button2" type="submit" value="Get a Site Inspection">
          </p>
      </div>
    </div>
  </div>
</form>

<div style="display:none;">
{% include /html/ae-default-footer.html %}
</div>
  </body>
</html>