<!DOCTYPE html>
<html lang="en">
  
{% include /html/ae-default-head.html %}

<body>
  
{% include /html/rectangle-logo-header.html %}

<div class="container-fluid py-3 py-md-5">
  <div class="row mx-auto">
    <div class="col-12 col-md-3 py-5 my-5 text-center custom-about-us-sidebar">
        <h3>
            Important documents to download:
        </h3>
        <hr>
        <div class="col-12 mx-auto text-center">
            <a class="col-12" href="assets/img/Credit-Application-CHH.pdf" target="_blank">
                <h3 class="text-white m-0 py-2 px-2 custom-jumbotron-button2 custom-button-text">GET CREDIT APPLICATION</h3>
            </a>
            <a class="col-12" href="assets/img/Matrix-on-Metal-Buildings-CHH.pdf" target="_blank">
                <h3 class="text-white m-0 py-2 px-2 custom-jumbotron-button2 custom-button-text">GET PRICING SHEET</h3>
            </a>
        </div>
    </div>
    <div class="col-12 col-md-8 text-left mx-auto">
        <h2>Guidelines for Financing with Claxton Handi House</h2>
        <hr>
        <p class="custom-p-text">
                <strong>Borrowers:</strong> Up to 2 owner-occupants
                <br><br>
                <strong>Proof of Homeownership:</strong> At underwriters Discretion if Address/Delivery Address Cannot be verified internally
                <br><br>
                <strong>Eligible Properties:</strong> 1 to 2 unit primary residence
                <br><br>
                <strong>FICO Minimum:</strong> 630 (See Pricing Sheet for details)
                <br><br>
                <strong>Minimum Monthly Income:</strong> $2000.00
                <br><br>
                <strong>Income Verification Requirement:</strong> At underwriters discretion for deals under $15000.00
                <br><br>
                <strong>DTI Ratio:</strong> 55% for A and B FICO range, 50% for C and D FICO range
                <br><br>
                <strong>Co-Applicants:</strong> Must meet credit standards. No non-resident I non
                Property owners permitted
                <br><br>
                <strong>Minimum Loan Amount:</strong> $1000.00
                <br><br>
                <strong>Maximum Loan Amount:</strong> $25000.00 (See Pricing Sheet for details)
                <br><br>
                <strong>UCC Filing:</strong> N/A at signing of loan documents. Will file if
                Delinquency status reaches 60 days contractualy
                past due.
                <br><br>
                <strong>Delinquency:</strong> CPLD collections will ask Dealer for assistance
                If possible for their local area.
                REPO of merchandise would depend on
                availability Of Dealer to assist.
        </p>
    </div>
  </div>
</div>


{% include /html/ae-default-footer.html %}
  
  </body>
</html>

