<!DOCTYPE html>
<html lang="en">
  
{% include /html/ae-default-head.html %}

<body>
  
{% include /html/rectangle-logo-header.html %}

<div class="custom-jumbotron-home">
  <div class="container-fluid py-2 py-lg-5">
    <div class="col-12 col-lg-9 pt-5 pb-5 text-center mx-auto">
      <div class="py-1 py-lg-4"></div>
      <h1 class="text-white">the economical building with hundreds of uses...</h1>
      <div class="row">
        <a class="col-9 col-md-5 mx-auto my-3 my-lg-5 py-2 py-lg-4 custom-jumbotron-button1" href="/structures">
        <div class="">
          <h3 class="text-white m-0 custom-button-text">SEE OUR PRODUCTS</h3>
        </div>
        </a>
        <a class="col-9 col-md-5 mx-auto my-3 my-lg-5 py-2 py-lg-4 custom-jumbotron-button2" href="/contact-us">
            <h3 class="text-white m-0 custom-button-text">GET A FREE SITE INSPECTION</h3>
        </a>
      </div>
      <div class="py-1 py-lg-4"></div>
    </div>
  </div>
</div>

<div class="custom-financing-homepage">
  <div class="container-fluid py-4 py-md-5">
    <h2 class="text-white py-0 pt-lg-2 pb-lg-3 text-center custom-button-text">We can help Finance your Purchase with Claxton Handi House</h2>
  </div>
</div>
  <div class="col-10 col-lg-3 text-center mx-auto custom-financing-button-overlap">
    <a href="/financing-with-claxton-handi-house">
        <h3 class="col-12 mx-auto text-white m-0 py-3 custom-financing-button">LEARN ABOUT FINANCING</h3>
    </a>
  </div>

<div class="container-fluid pt-5">
    <div class="py-1 py-lg-4"></div>
    <div class="py-1 py-lg-2"></div>
  <div class="col-12 col-md-8 mx-auto text-center">
      <h2 class="font-weight-light">Outstanding service to determine your needs; Outdoor structures to meet them</h2>
  <hr class="custom-seperator">
  <p class="custom-p-text">Claxton Handi House will help you determine what kind of structure you’ll need to meet your home or business storage needs. Then we’ll get it to you at a great price!
  </p>
  </div>
</div>

<div class="container-fluid pt-5 pb-5">
  <div class="row">
    <div class="col-12 col-md-4 text-center">
      <img class="img-fluid" src="assets/img/free-site-inspections.png" width="120px">
      <h4 class="py-2">FREE Local Site Inspections</h4>
      <hr class="custom-seperator">
      <p class="text-center px-3 custom-p-text">
          We offer free local site inspection because we want to make sure you’ve got the right outdoor shed or carport for the job. Come in and schedule yours today.
      </p>
    </div>
    <div class="col-12 col-md-4 text-center">
        <img class="img-fluid" src="assets/img/storage-buildings-for-sale.png" width="120px">
        <h4 class="py-2">Storage Buildings</h4>
        <hr class="custom-seperator">
        <p class="text-center px-3 custom-p-text">
            Storage needs vary from person to person. A good storage building is one that never gets full. Claxton Handi House can help you figure out what size storage building you need and deliver it promptly.
        </p>
      </div>
    <div class="col-12 col-md-4 text-center">
        <img class="img-fluid" src="assets/img/carports-for-sale.png" width="120px">
        <h4 class="py-2">Carports</h4>
        <hr class="custom-seperator">
        <p class="text-center px-3 custom-p-text">
        Keeping your car away from the elements is difficult to do on a budget.
        We can help you get a solid carport at a price that fits your budget.
        </p>
    </div>
  </div>
</div>

<div class="custom-bottom-jumbotron-home">
    <div class="container-fluid py-2 py-lg-5">
      <div class="py-1 py-md-4"></div>
      <div class="col-12 col-md-6 text-center pt-3 pb-2 mx-auto">
          <a class="col-12" href="/structures">
            <h3 class="text-white m-0 py-4 px-4 custom-jumbotron-button2 custom-button-text">VIEW OUR STRUCTURES</h3>
          </a>
          </div>
      <div class="py-1 py-md-4"></div>
    </div>
  </div>


{% include /html/ae-default-footer.html %}
  
  </body>
</html>

