<!DOCTYPE html>
<html lang="en">
  
{% include /html/ae-default-head.html %}

<body>
  
{% include /html/rectangle-logo-header.html %}

<div class="container-fluid py-5">
    <div class="col-12 text-center">
        <h2>Thank you - we'll be in touch shortly concerning your FREE site inspection.</h2>
        <p class="custom-p-text">Please visit out structures page if you want to get some samples of our structures.</p>
        <div class="col-12 col-md-6 text-center pt-3 pb-2 mx-auto custom-jumbotron-button2">
        <a class="col-12" href="/structures">
            <h3 class="text-white m-0 py-1 px-1 custom-jumbotron-button2 custom-button-text">VIEW OUR STRUCTURES</h3>
        </a>
        </div>
    </div>
</div>

<div style="display:none;">
{% include /html/ae-default-footer.html %}
</div>

  </body>
</html>

